@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: borderbox;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: Montserrat;
}
.background {
  width: 100%;
  height: 900px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 1080px;
}

nav {
  position: absolute;
  position: fixed;
  background: rgba(0, 0, 0, 0.15);
  height: 75px;
  width: 100%;
}
.navbar-items {
  padding: 15px 130px;
}
#navbar-logo {
  width: 43px;
  height: 43px;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  padding-top: 8px;
}
nav ul li a {
  color: white;
  font-size: 20px;
  padding: 26px 17px;
  margin: 0px;
  line-height: 30px;
  align-items: center;
}

.navbar-links:hover {
  background: rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.home {
  background-image: url("landingpagebackground.jpg");
}

.about-us {
  background-image: url("page2.jpg");
}

.our-work {
  background-color: black;
}

.contact-us {
  background-image: url("page4.jpg");
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #f6c214;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px black;
  box-shadow: inset 0 0 5px black;
  background-color: black;
}
